<div class="view">

  <div class="checking-header">
    <button class="back-button" data-back>←</button>
    <h1>Checking Account</h1>
    <div class="checking-balance">$56,452.12</div>
    <div class="available-label">Available balance</div>
  </div>

  <div class="account-actions">
    <button class="action-button">Transfer</button>
    <button class="action-button">Pay</button>
    <button class="action-button secondary" data-link href="/transactions">
      View Activity
    </button>
  </div>

</div>
