<div class="view">
  <div class="header">
    <img src="https://i.ibb.co/n813BBWg/BANKFLOWLOGO.png" class="header-logo">
    <p class="welcome-name">NIKITA SUZUKI</p>
  </div>

  <a href="/checking" data-link class="account-card-link">
    <div class="account-card">
      <div class="account-name">Checking Account</div>
      <div class="balance-new">$56,452.12</div>
    </div>
  </a>

  <a href="/transactions" data-link class="view-more-button centered">
    View more
  </a>

  <nav class="bottom-nav">
    <a href="/" data-link class="active">Home</a>
    <a href="/transactions" data-link>Activity</a>
  </nav>

</div>
